<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Sports Tournament Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Sports Tournament Manager</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-controller="Teams" asp-action="Index">Teams</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Players" asp-action="Index">Players</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Coaches" asp-action="Index">Coaches</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Disciplines" asp-action="Index">Disciplines</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Tournaments" asp-action="Index">Tournaments</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Matches" asp-action="Index">Matches</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Sponsors" asp-action="Index">Sponsors</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Venues" asp-action="Index">Venues</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>