@model Web_BongDa_Login.Models.User

<h2>Đăng ký</h2>

<form method="post">
    <div>
        <input asp-for="Username" placeholder="Username" />
    </div>

    <div>
        <input asp-for="Password" type="password" placeholder="Password" />
    </div>

    <button type="submit">Đăng ký</button>
</form>

<a href="/Account/Login">Đăng nhập</a>
