@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<h2>Trang Chủ</h2>

<p>Xin chào: @Context.Session.GetString("Username")</p>
<p>Role: @Context.Session.GetString("Role")</p>

@if (Context.Session.GetString("Role") == "Admin")
{
    <a href="/Admin/Index">Vào trang Admin</a>
}
