@model SportsTournamentManager.Models.Sponsor

<h2>Xóa nhà tài trợ</h2>

<h4>Bạn có chắc muốn xóa nhà tài trợ này?</h4>
<hr />

<dl class="row">
    <dt class="col-sm-2">Tên</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">Ngành nghề</dt>
    <dd class="col-sm-10">@Model.Industry</dd>
</dl>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>