@model SportsTournamentManager.Models.Sponsor

<h2>Chi tiết nhà tài trợ</h2>

<dl class="row">
    <dt class="col-sm-2">Tên</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">Lĩnh vực</dt>
    <dd class="col-sm-10">@Model.Industry</dd>
</dl>

<h4>Danh sách giải đấu tài trợ</h4>
<ul>
@foreach (var ts in Model.TournamentSponsors)
{
    <li>@ts.Tournament?.Name</li>
}
</ul>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>